body {
    font-family: Arial, sans-serif;
    background-color: #FFF5F5; 
    color: #663333; 
    text-align: center;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFE6E6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #FFB3B3;
    border-radius: 4px;
    box-sizing: border-box;
}


#contenido {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFE6E6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #FF6666; 
}

a {
    color: #FF9999; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
input[type="submit"] {
    background-color: #FFD9D9; 
    color: #663333; 
    padding: 12px 24px; 
    border: 2px solid #FFB3B3; 
    border-radius: 20px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin: 0 auto; 
    display: block; 
}